<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <i class="las la-home la-lg"></i>
        Home
      </a>
      <a class="navbar-item" href="/dashboard">
        <i class="las la-tachometer-alt la-lg"></i>
        Panel
      </a>
      <a class="navbar-item" href="/users">
        <i class="las la-users la-lg"></i>
        Usuarios
      </a>
      <a class="navbar-item" href="/roles">
        <i class="las la-user-tag la-lg"></i>
        Roles
      </a>
      <a class="navbar-item" href="/sessions">
        <i class="las la-user-check la-lg"></i>
        Sesiones
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="#">
        <i class="las la-user la-lg"></i>
        <%= user.firstName %>
          <%= user.lastName %>
      </a>
      <a class="navbar-item" href="/logout">
        <i class="las la-sign-out-alt la-lg"></i>
        Salir
      </a>
    </div>
  </div>
</nav>