<p class="menu-label">
    General
</p>
<ul class="menu-list">
    <li><a class="navbar-item" href="/">
            <i class="las la-home la-lg"></i>
            Home
        </a></li>
</ul>
<p class="menu-label">
    Administracion
</p>
<ul class="menu-list">
    <li><a class="" href=" /dashboard">
            <i class="las la-tachometer-alt la-lg"></i>
            Panel
        </a></li>
    <li><a class="" href=" /users">
            <i class="las la-users la-lg"></i>
            Usuarios
        </a></li>
    <li><a class="" href=" /roles">
            <i class="las la-user-tag la-lg"></i>
            Roles
        </a></li>
    <li><a class="" href="/sessions">
            <i class="las la-user-check la-lg"></i>
            Sesiones
        </a></li>
</ul>
<!-- <p class="menu-label">
        Transactions
    </p>
    <ul class="menu-list">
        <li><a>Payments</a></li>
        <li><a>Transfers</a></li>
        <li><a>Balance</a></li>
    </ul> -->
</aside>