<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>


    <section>

        <div class="container is-fluid">
            <div>
                <h1 class="title is-2 mt-4">
                    <%= title %>
                </h1>

                <nav class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Usuarios</p>
                            <p class="title">3,456</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Roles</p>
                            <p class="title">123</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Sesiones</p>
                            <p class="title">456K</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Horos invertidas</p>
                            <p class="title">1234</p>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>

    <script src="../public/js/dashboard/index.js"></script>
</body>

</html>