<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <header>
        <%- include('./partials/header'); %>
    </header>

    <section>

        <div class="container is-fluid">
            <h1 class="title is-2 mt-4">
                <%= title %>
            </h1>
        </div>

    </section>
</body>

</html>