<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <section class="hero is-fullheight" style="background-color: #dfe7fd">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form action="/login" class="box" method="POST">
              <div class="field">
                <label for="" class="label">Usuario</label>
                <div class="control has-icons-left">
                  <input type="email" placeholder="ej. user@mail.com" class="input" name="username" required>
                  <span class="icon is-small is-left">
                    <i class="fad fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Contraseña</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="*******" class="input" name="password" required>
                  <span class="icon is-small is-left">
                    <i class="fad fa-lock"></i>
                  </span>
                </div>
              </div>
              <!-- <div class="field">
                <label for="" class="checkbox">
                  <input type="checkbox">
                  Recuerdame
                </label>
              </div> -->
              <div class="field mt-5">
                <button class="button is-primary is-fullwidth">
                  Iniciar sesión
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>