<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div>
            <h1 class="title is-2">
                <%= title %>
            </h1>
            <div class="">
                <table id="users_datatable" class="table is-bordered is-hoverable is-striped is-fullwidth">
                    <thead>
                        <!-- <th>Identificador</th>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Estado</th>
                        <th>Creacion</th>
                        <th>Creacion</th>
                        <th>Creacion</th>
                        <th>Creacion</th>
                        <th>Creacion</th> -->
                    </thead>    
                </table>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script src="../public/js/users.js"></script>
</body>

</html>